- BEMPUG.modifier = '_';

mixin navigation
    +b('navigation', {t:'nav'})
        +e('wrapper')
            +e('container')
                +e('menu', {t: 'ul'})
                    +e('item', {t:'li'})
                        +e('link', {t: 'a href=https://kipservis.ru'}) Продукция
                        +e('sub-menu', {t: 'ul'})
                            +e('sub-item', {t:'li'})
                                +e('link', {t: 'a href=https://kipservis.ru/shkafi_upravleniya.htm'}) Шкафы управления
                                +e('sub-menu', {t: 'ul'})
                                    +e('sub-item', {t:'li'})
                                        +e('link', {t: 'a href=https://kipservis.ru/control_box/kaskad10.htm'}) КАСКАД 10: шкаф управления насосом
                                    +e('sub-item', {t: 'li'})
                                        +e('link', {t: 'a href=https://kipservis.ru/control_box/kaskad100.htm'}) КАСКАД 100: шкаф управления погружным насосом
                            +e('sub-item', {t: 'li'})
                                +e('link', {t: 'a href=https://kipservis.ru/segnetics.htm'}) Приборы Segnetics
                            +e('sub-item', {t: 'li'})
                                +e('link', {t: 'a href=https://kipservis.ru/elhart/pid_regulator_ecd2-m.htm'}) Приборы ELHART
                            +e('sub-item', {t: 'li'})
                                +e('link', {t: 'a href=https://kipservis.ru/delta.htm'}) Приборы Delta
                            +e('sub-item', {t: 'li'})
                                +e('link', {t: 'a href=https://kipservis.ru/vakuumnie-komponenty.htm'}) Вакуумное оборудование Vuototecnica
                    +e('item', {t: 'li'})
                        +e('link', {t: 'a href=https://kipservis.ru/catalogos.htm'}) Наши каталоги
                    +e('item', {t: 'li'})
                        +e('link', {t: 'a href=https://kipservis.ru/kipia_primenenie/primenenie_stati.htm'}) Статьи
                    +e('item', {t: 'li'})
                        +e('link', {t: 'a href="https://kipservis.ru/prices.php?id=306"'}) Цены и документация
                    +e('item', {t: 'li'})
                        +e('link', {t: 'a href=https://kipservis.ru/contacts.htm'}) Контакты
                        +e('sub-menu', {t: 'ul'})
                            +e('sub-item', {t: 'li'})
                                +e('link', {t: 'a href=https://kipservis.ru/kipservis_vitebsk.htm'}) Витебск (Беларусь)
                            +e('sub-item', {t: 'li'})
                                +e('link', {t: 'a href=https://kipservis.ru/kipservis_moscow.htm'}) Москва
                            +e('sub-item', {t: 'li'})
                                +e('link', {t: 'a href=https://kipservis.ru/kipservis_peterburg.htm'}) Санкт-Петербург
                            +e('sub-item', {t: 'li'})
                                +e('link', {t: 'a href=https://kipservis.ru/kipservis_krasnodar.htm'}) Краснодар
                            +e('sub-item', {t: 'li'})
                                +e('link', {t: 'a href=https://kipservis.ru/kipservis_lipetsk.htm'}) Липецк
                            +e('sub-item', {t: 'li'})
                                +e('link', {t: 'a href=https://kipservis.ru/kipservis_omsk.htm'}) Омск
                            +e('sub-item', {t: 'li'})
                                +e('link', {t: 'a href=https://kipservis.ru/kipservis_rostov.htm'}) Ростов-на-Дону
                            +e('sub-item', {t: 'li'})
                                +e('link', {t: 'a href=https://kipservis.ru/kipservis_perm.htm'}) Пермь
