- BEMPUG.modifier = '_';

mixin footer
    +b('footer', {t: 'footer'})
        +e('wrapper')
            +e('container')
                +e('menu')
                    a(href="https://kipservis.ru/" class='menu-link') Продукция
                    a(href="https://kipservis.ru/prices.php?id=306" class='menu-link') Прайс-лист
                    a(href="https://kipservis.ru/contacts.htm" class='menu-link') Продукция
                +e('main')
                    +e('left')
                        +e('left-list', {t: 'ul'})
                            +e('left-item', {t: 'li'})
                                +e('left-link', {t: 'a href=https://kipservis.ru/segnetics.htm'}) ПЛК Segnetics
                            +e('left-item', {t: 'li'})
                                +e('left-link', {t: 'a href=https://kipservis.ru/datchiki_obscheprom.htm'}) Датчики давления
                            +e('left-item', {t: 'li'})
                                +e('left-link', {t: 'a href=https://kipservis.ru/termoregulyatory.htm'}) Терморегуляторы
                            +e('left-item', {t: 'li'})
                                +e('left-link', {t: 'a href=https://kipservis.ru/berghof.htm'}) Промышленные ПЛК
                            +e('left-item', {t: 'li'})
                                +e('left-link', {t: 'a href=https://kipservis.ru/elhart_frequency_converter.htm'}) Частотные преобразователи
                            +e('left-item', {t: 'li'})
                                +e('left-link', {t: 'a href=https://kipservis.ru/segnetics.htm'}) ПЛК Segnetics
                            +e('left-item', {t: 'li'})
                                +e('left-link', {t: 'a href=https://kipservis.ru/datchiki_obscheprom.htm'}) Датчики давления
                            +e('left-item', {t: 'li'})
                                +e('left-link', {t: 'a href=https://kipservis.ru/termoregulyatory.htm'}) Терморегуляторы
                            +e('left-item', {t: 'li'})
                                +e('left-link', {t: 'a href=https://kipservis.ru/berghof.htm'}) Промышленные ПЛК
                            +e('left-item', {t: 'li'})
                                +e('left-link', {t: 'a href=https://kipservis.ru/elhart_frequency_converter.htm'}) Частотные преобразователи
                    +e('right')
                        +e('title') Региональные офисы ООО «КИП-Сервис» доступны по общему номеру
                            a(href="tel:88007754682")  8 800 775-46-82
                        +e('contacts-list', {t: 'ul'})
                            +e('item')
                                a(href="https://kipservis.ru/kipservis_vitebsk.htm") Витебск
                                a(href="tel:475212641700" class="tel")  +375-212-64-17-00
                            +e('item')
                                a(href="https://kipservis.ru/kipservis_moscow.htm") Москва
                                a(href="tel:88007754682" class="tel")  8 800 775-46-82
                            +e('item')
                                a(href="https://kipservis.ru/kipservis_peterburg.htm") Санкт-Петербург
                                a(href="tel:+78125787759" class="tel")  +7 (812) 578-77-59
                            +e('item')
                                a(href="https://kipservis.ru/kipservis_krasnodar.htm") Краснодар
                                a(href="tel:+78612559754" class="tel")  +7 (861) 255-97-54
                            +e('item')
                                a(href="https://kipservis.ru/kipservis_lipetsk.htm") Липецк
                                a(href="tel:+74742200163" class="tel") +7 (4742) 20-01-63
                            +e('item')
                                a(href="https://kipservis.ru/kipservis_omsk.htm") Омск
                                a(href="tel:+78412500249" class="tel")  +7 (8412) 50-02-49
                            +e('item')
                                a(href="https://kipservis.ru/kipservis_rostov.htm") Ростов-на-Дону
                                a(href="tel:+78633033463" class="tel")  +7 (863) 303-34-63
                            +e('item')
                                a(href="https://kipservis.ru/kipservis_perm.htm") Пермь
                                a(href="tel:+73422250738" class="tel") +7 (342) 225-07-38
